<p>Hello <%= @user.email %>!</p>
<p align=justfy>Congratulations! You have successfully created a new account with <%= ENV['APP_NAME']%>.</p>
<br>
<p>Your Login email is: <strong><%= @user.email %></strong></p>
<br>
<p>In case you have questions or need further assistance, call us on <%= ENV['APP_CONTACT_NUMBER'] %>.</p>
<p>We are avialable 24 hours a day, 7 days a week.</p>
<br>
<p>Happy Shopping!</p>
<br>
<p>The <%= ENV['APP_NAME']%> team </p>
